{% extends "template/base.html" %}
{% block title %}BikeGears - Rider Overview{% endblock %}
{% block content %}
<h2>Rider overview</h2>
<p>
    Name: {{user_name}}<br/>
</p>
<h2>Recent rides</h2>
{% if rides %}
<table class="tabular">
    <tr>
        <th class="date">Date</th>
        <th class="number">Dist(km)</th>
        <th class="date">Ride time</th>
        <th class="number">Avg(km/h)</th>
        <th>Ride Type</th>
        <th>Bike</th>
        <th></th>
    </tr>
    {% for ride in rides %}
    <tr class="{{ loop.cycle('even', 'odd') }}">
        <td class="date">{{ride.date}}</td>
        <td class="number">{{ride.distanceKm|round(precision=2)}}</td>
        <td class="date">{{ride.getRideTimeAsString}}</td>
        <td class="number">{{ride.getAverageSpeed}}</td>
        <td>{{ride.rideType.name}}</td>
        <td>{{ride.bike.brand}} {{ride.bike.model}}</td>
        <td><a href="/user/rideentry?id={{ride.key.id}}">update</a>&nbsp;<a href="/user/ridedelete?id={{ride.key.id}}">delete</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>
    we have no rides ...
</p>
{% endif %}
{% endblock %}