{% extends "template/base.html" %}

{% block title %}BikeGears - Welcome{% endblock %}
{% block content %}
<h2>Welcome</h2>
<p>
	Welcome to BikeGears. BikeGears is a small web application that helps you keep track of your cycling activities. You can enter a brief ride log for each ride you make. BikeGears allows you to classify your rides and you can write a small journal for each ride. BikeGears will also allow you to look at some ride statistics.
</p>
<p>
	To get started click on the 'Login' link on the top right of the screen an login with your google account. If you don't have one you can create one for free. After that you should add at least one bike after which you can start adding log entries for the rides that you've done.
</p>
<p>
	There are a lot of things that are missing from this application. Currently it will only show you your last 10 rides and other than that there is not much information. Here are some things I'd like to add when I find the time to work on it;
</p>
<ul>
	<li>A header showing distance to date, distance year to date and distance month to date.</li>
	<li>Page with monthly statistics to show distance per month, rides per month, average speed etc.</li>
	<li>Page with month to date compare with same month in previous year.</li>
	<li>Page to query history by date range, possibly with totals for that date range.</li>
	<li>Include graphs and charts for visual representation of the stats.</li>
	<li>A way to load up rides that may have been stored in spreadsheet or database off-line.</li>
	<li>A way to export ride information in a generic format like CSV, XML or JSON for backup or use in other places.</li>
	<li>A feedback link so users can ask for stuff that they would like me to add.</li>
</ul>
{% endblock %}